.mainsection{
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding-left:30px;
    padding-top:15px;
}
.section1{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.imgdiv{
    width: 100%;
    height:650px;
}
#imgtag{
    width: 100%;
    height: 100%;
}
.affiliatelink{
    padding:10px 0px;
    display: flex;
    gap:5px;
}
.highlight{
    color:black;
    padding:15px 0px;
    font-size: 25px;
}


.section2{
    padding:15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: green; */
}
.section2 div h1{
    margin:5px 0px;
}

.config{
    cursor: pointer;
    color:black;
    font-family: sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border:1px solid rgb(218, 218, 185);
}
.config tr td{
    padding:8px;
}

.tabledata{
    border-left: 0.5px solid silver;
    border-bottom: 1px solid silver;
    color:rgb(90, 89, 89);
}
.tabledata:hover{
    color:rgb(60, 58, 58);
}
.tablehead{
    color:rgb(90, 122, 0);
    font-weight: bold;
    /* border-right:1px solid rgb(25, 101, 4); */
}
.tablehead:hover{
    color:black;
}
.section3{
    height: 300px;
    background-color: rgb(232, 232, 47);
}