
 /* this one blog slug css is start from here */
.ArticleContainer{
    width: 99%;
    padding:5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Items{
    width: 60%;
    margin:auto;
    padding:20px;
}

.box1{
    width: 100%;
}
.box1 h4{
    color:#ff4e4e;
    padding:5px 0px;
}
.box1 h1{
    color:#000000;
    font-family: sans-serif;
    padding:5px 0px;
    font-size: 40px;
}
.box1 p{
    color:#000000;
    padding:5px 0px;
    font-family: sans-serif;
}
.box2{
    padding:10px 0px;
    width:100%;
}
.box2 h3{
    color:#000000;
    font-size: 30px;
    padding:5px 0px;
}
.box2 p{
    font-family: sans-serif;
    color:#000000;
    font-size: 22px;
    padding:10px 0px;
}
 
.articleimg{
    margin:10px 0px;
    width: 80%;
    height:80%;
}
.articleimg button{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buyarrow{
    margin-left: 4px;
    transition: 0.4s;
}
.articleimg button:hover .buyarrow{
    margin-left: 10px;
    color:black;
}

#articleimg{
    height: 100%;
    width: 100%;
    transition: 0.4s;
}
#articleimg:hover{
    height: 102%;
    width: 102%;
}
.aboutarticle{
    width: 100%;
    font-family: sans-serif;
    margin:20px 0px;
    /* background-color: beige; */
}
.aboutarticle h3{
    padding:5px 0px;
    font-weight: bold;
    font-size:25px;
    color:#000000;
}
.aboutarticle div{
    padding:5px;
}
.configtable{
    width: 100%;
    height: 300px;
}

.hoverableCell {
    /* border:1px solid rgb(122, 122, 2); */
    position: relative;
    padding:5px;
    background-color: silver;
  }
  
  .hoverableCell:hover::before {
    width: 100%;
  }
  
  .reasontobuy{
    padding:10px 0px;
  }
.reasontobuy h2{
    
    padding:5px 0px;
    font-weight: bold;
    font-size:25px;
    color:#000000;
}
.reasontobuy table{
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    padding:5px;
}
.reasontobuy table:hover{
    
    border-bottom: 5px solid rgb(145, 171, 0);
}
.reasontobuy table th{
    padding:10px;
    text-align: left;
    font-size: 25px;
    color:rgb(23, 160, 5);
}
.reasontobuy table td{
    padding:5px;
    text-align: left;
}
.highlight{
    font-family: sans-serif;
    padding:10px 0px;
}
.highlight h1:hover{
    color:#000000;
    text-decoration: underline;
}
.highlight p{
    font-family: sans-serif;
    color:#000000;
    font-size: 22px;
    padding:10px 0px;
}

.similerblogs{  
    width: 60%;
    margin-left: 40px;
    padding:15px;
}
.blogs{
    overflow-x:scroll;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#blogItem{
    color:#000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;
}
.similertext{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    color:rgb(0, 0, 0);
}

.blogimg{
    width: 150px;
    height: 120px;
}
#blogimg{
    width: 100%;
    height: 100%;
}

  @media only screen and (max-width:1200px) {
    .Items{
        width: 70%;
        
    }
    .similerblogs{
        width: 70%;
        margin:0px;
    }
}
@media only screen and (max-width:1000px) {
    .Items{
        width: 80%;
    }
    .similerblogs{
        width: 80%;
        margin:0px;
    }

}
@media only screen and (max-width:850px) {
    .Items{
        width: 100%;
    }
    .box2{
        width: 100%;
    }
    .similerblogs{
        width: 100%;
        margin:0px;
    }

}
 
@media only screen and (max-width:500px) {
    .articleimg{
        width: 100%;
        height: 100%;
    }

}
 
 /* this one blog slug css is end from here */
